body {
    background-color: lightskyblue;
}

#canvas {
    border-style: ridge;
    border-color: dodgerblue;
    border-radius: 20px;
    border-width: 20px;
    background-color: white;
}